<!--templates/ticket_class_2.html-->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Django Highcharts Example</title>
</head>
<body>
    <a href="{% url 'home' %}">Return to homepage</a>
    <div id="container"></div>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <script>
        Highcharts.chart('container', {
            chart: {
                type: 'column' ,
            },
            title: {
                text: 'Titanic Survivors by Ticket Class'
            },
            xAxis: {
                categories: {{ categories|safe }}  /* safe 필터 */
            },
            yAxis: [{ // Primary yAxis
                min: 20,
                max: 70,
                gridLineWidth: 0,
                tickInterval: 10,
                labels: {
                format: '{value} %',
                style: {color: Highcharts.getOptions().colors[1]}
                },
                 title: {
                text: '생존율',
                style: {color: Highcharts.getOptions().colors[1]
                }
            }
            }, { // Secondary yAxis
                min: 0,
                max: 600,
                gridLineWidth: 0,
                tickInterval: 120,
                title: {
                text: '인원',
                style: {
                color: Highcharts.getOptions().colors[0]
                }
                },
                labels: {
                format: '{value}명',
                style: {
                color: Highcharts.getOptions().colors[0]
                }
            },
                opposite: true
            }],

            series: [{
                name: 'Survived',
                data: {{ survived_series }},
                color: 'green',
                yAxis: 1
            }, {
                name: 'Not survived',
                data: {{ not_survived_series }},
                color: 'red',
                yAxis: 1
            },  {
                name: 'Survived_rate',
                type: 'spline',
                data: [61.91950464396285, 42.96028880866426, 25.52891396332863],
                color: 'skyblue',
                yAxis: 0
                }]

        });
    </script>s
</html>